body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #800020; /* bordo color */
    color: white;
    text-align: center;
    padding: 20px;
}
h1, h2 {
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.sidebar {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    max-width: 250px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;
}
.sidebar a:hover {
    background-color: #ddd;
}
.content {
    flex: 3;
    padding: 20px;
    background-color: #fff;
    width: 100%;
}
.content section {
    display: none;
}
.content section.active {
    display: block;
}

blockquote {
    font-size: 1em;
    margin-bottom: 10px;
    color: #666;
    word-wrap: break-word; /* Ensure text wraps inside containers */
    padding-left: 15px; /* Space between the text and the vertical bar */
    border-left: 4px solid #666; /* Adjust the width and color of the vertical bar */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        max-width: none;
    }
}
